{% extends "layout.html" %}
{% block title %} Choose {% endblock %}
{% block main %}
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h3 style="margin-top:40%; text-align: center;">Choose!</h3>
        <form action="/choose" method="post">
            <input class="form-control w-auto" name="choice" style="margin-bottom: 20px; font-size: large;" required placeholder="Your object">
            <input class="form-control w-auto" name="why" style="margin-bottom: 20px; font-size: large;" required placeholder="Your reasoning" maxlength="50">
            <button class="btn btn-primary" type="submit" style="margin-bottom: 20px;">Choose!</button>
            <br/>
            <label><input name="check" type="checkbox" class="form-check-input w-auto"> Download PDF</label>
            <br/>
        </form>
            <h3 style="text-align: center;">History of changing objects</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th>Choice</th>
                        <th>Why</th>
                        <th>Past</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in history %}
                    <tr>
                        <td>{{i["id"]}}</td>
                        <td>{{i["username"]}}</td>
                        <td>{{i["choice"]}}</td>
                        <td>{{i["why"]}}</td>
                        <td>{{i["past"]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</div>
{% endblock %} 