{% extends "layout.html" %}
{% block title %} Delete {% endblock %}
{% block main %}
<div class="container">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h3 style="margin-top: 65%; text-align: center;">Delete</h3>
        <form action="/delete" method="post">
            <input class="form-control w-auto" type="text" placeholder="Username" name="username" required style="margin-bottom: 20px;font-size: large;">
            <input class="form-control w-auto" type="password" placeholder="Password" name="password" required style="margin-bottom: 20px;font-size: large;">
            <input class="form-control w-auto" type="password" placeholder="Confirm" name="password2" required style="margin-bottom: 20px;font-size: large;">
            <button class="btn btn-danger" style="margin-bottom: 20px;font-size: large;">Delete</button>
        </form>
        <h3 style="text-align: center;margin: top 20px;; font-size: medium;">{{error_message}}</h3>
    </div>
</div>
{% endblock %}