{% extends "layout.html" %} <!--da ne bismo stalno kucali iste kodove koristimo layout.html i sad ga importujemo-->
{% block title %} Home {% endblock %}
{% block main %}
<div class="jumbotron text-center" style="background-color:white !important;">
    {% if not session["user_id"] %}
        <h3>Welcome!</h3>
        <p>This is my project! Log in / register to test this out!</p>
    {% else %}
        <h3>You're now logged in!</h3>
        <p>You can go and test the project out</p>
    {% endif %}
</div>
{% if session["user_id"] %}
    <div class="container">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <img src="../static/istockphoto-157030584-612x612.jpg" class="img-responsive" alt="Responsive image">
        </div>
    </div>
{% endif %}
{% endblock %}