<!--kreiranje layouta koji ce svi sajtovi koristiti-->
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title> <!--posto stranice nece koristiti isti naziv kreiramo poseban za svaki-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/style.css"> <!--povezivanje css fajla-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse" style="width:100%;"> <!--responsive bootstrap navigatoin bar-->
            <ul class="nav navbar-nav">
                {% if session["user_id"]%} <!--ukoliko je korisnik ulogovan-->
                    <li><a href="" id="user">{{session["user_name"]}}</a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/choose">Choose</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/logout">Log Out</a></li>
                    <li><a href="/delete" id="delete">Delete</a></li>
                {% else %}
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/about">About</a></li>
                {% endif %}
            </ul>
        </nav>
        {% block main %}
        <main>
        </main>
        {% endblock %}
    </body>
</html>