{% extends "layout.html" %}
{% block title %} Log In {% endblock %}
{% block main %}
<div class="container">
    <div class="col-sm-4"></div>
    <script>
        function go(){ // kada korisnik pritisne da je zaboravio lozinku onda umesto otvaranja kartice u novi prozor (ili nekog drugog resenja) u istoriji zamenimo stranice
            location.replace('/forgot');
        }
    </script>
    <div class="col-sm-4">
        <h3 style="margin-top: 65%; text-align: center;">Log In</h3>
        <form action="/login" method="post">
            <input class="form-control w-auto" type ="text" placeholder="Username" name="username" style="margin-bottom: 20px;font-size: large;" autocomplete="off" required>
            <input class="form-control w-auto" type="password" placeholder="Password" name="password" style="margin-bottom: 20px;font-size: large;" required>
            <button type="submit" class="btn btn-primary" style="font-size: large;margin-bottom: 20px;">Log In</button>
        </form>
        <button onclick="go()"  class="btn btn-danger" style="font-size: large;margin-bottom: 20px;">Forgot your password ?</button>
        <h3 style="text-align: center;margin: top 20px;; font-size: medium;">{{error_message}}</h3>
    </div>
</div>
{% endblock %}